---
kind: Route
apiVersion: v1
metadata:
  name: graph-bolt
  namespace: {{ graph_project }}
  annotations:
    kubernetes.io/tls-acme: "{{ graph_enable_acme }}"
spec:
  host: graph-bolt.{{ okd_route_basename }}
  to:
    kind: Service
    name: graph-bolt
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
