---
kind: Secret
apiVersion: v1
metadata:
  name: graph-secrets
  namespace: {{ graph_project }}
type: Opaque
stringData:
  aws_access_key_id: {{ aws_access_key_id }}
  aws_secret_access_key: {{ aws_secret_access_key }}
